<!doctype html>
<head>
<title>Risky? GitHub PR Risk {% block title %}{% endblock %}</title>
</head>

<body class="risky {% block body_class %}{% endblock %}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1 class="title">Risky?</h1>
  <h2 class="subtitle">Evaluating the merge risk for {{ org }} since 2014</h2>
  <div class="nav">
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <div class="content">
    {% block body %}{% endblock %}
  </div>
</div>
