{% extends "layout.html" %}

{% block title %} for {{ repo }}{% endblock %}


{% block body %}
<h2 class="title">Pull Request Risk</h2>
<h3 class="subtitle">for requests in {{ org }}/{{ repo }}</h3>

  <table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
      <th>number</th>
      <th>title</th>
      <th>login</th>

      <th>risk</th>

      <th>Merge Ready Category</th>
      <th>Thumbs Up risk </th>
      <th>Last State risk </th>
      <th>Mergable risk </th>

      <th>Age Category</th>
      <th>Last Comment Age risk </th>
      <th>Total PR Age risk </th>

      <th>Diff Files Category</th>
      <th>File Type risk </th>
      <th>File Count risk </th>
  </tr>

  {% for pr in prs %}
    <tr>
      <td> {{ pr['number'] }} </td>
      <td> {{ pr['title'] }} </td>
      <td> {{ pr['login'] }} </td>

      <td style="color:#{{ pr['risk color'] }}"> {{ pr['risk'] }} </td>

      <td style="color:#{{ pr['Merge Ready Cat color'] }}"> {{ pr['Merge Ready Cat risk'] }} </td>
      <td style="color:#{{ pr['Thumbs Up color'] }}"> {{ pr['Thumbs Up risk'] }} </td>
      <td style="color:#{{ pr['Last State color'] }}"> {{ pr['Last State risk'] }} </td>
      <td style="color:#{{ pr['Mergable color'] }}"> {{ pr['Mergable risk'] }} </td>

      <td style="color:#{{ pr['Age Cat color'] }}"> {{ pr['Age Cat risk'] }} </td>
      <td style="color:#{{ pr['Last Commit Age color'] }}"> {{ pr['Last Commit Age risk'] }} </td>
      <td style="color:#{{ pr['Total PR Age color'] }}"> {{ pr['Total PR Age risk'] }} </td>

      <td style="color:#{{ pr['Diff Files Cat color'] }}"> {{ pr['Diff Files Cat risk'] }} </td>
      <td style="color:#{{ pr['File Type color'] }}"> {{ pr['File Type risk'] }} </td>
      <td style="color:#{{ pr['File Count color'] }}"> {{ pr['File Count risk'] }} </td>
    </tr>
  {% endfor %}

  </table>
{% endblock %}
